{% extends 'layout/base.html' %}

{% block content %}
<datalist id="airports">
    {% for a in airport_list %}
    <option value="{{ a.id }} - {{ a.name }}">
    </option>
    {% endfor %}
</datalist>

<section class="section first-section" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('{{ url_for('static', filename='img/plane3.12.jpg') }}');">
    <div class="banner-div">
        <div class="banner">
            <h1 class="banner-text">Book Domestic and International Flight Tickets</h1>
        </div>
    </div>
    <div class="search-flight">
        <div class="container">
            <form method="post" action="" class="search-flight-form">
                <div class="align-items-center">
                    <div class="search-flight-form-data">
                        <div class="input-row" style="display: flex;">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="ticketType-1">
                                    <input type="radio" class="form-check-input" id="ticketType-1" name="ticketType" value="1" checked>Một chiều
                                </label>
                            </div>
                        </div>

                         <div class="input-row">
                            <label for="ap_from">Từ: </label>
                            <input class="form-control"
                                   value="{{ session['inp_search'].airport_from.code if session['inp_search'] }}"
                                   list="airports" name="from" id="ap_from">
                        </div>

                        <div class="input-row">
                            <label for="ap_to">Đến: </label>
                            <input class="form-control"
                                   value="{{ session['inp_search'].airport_to.code if session['inp_search'] }}"
                                   list="airports" name="to" id="ap_to">
                        </div>

                        <div class="input-row">
                            <label for="time_start">Ngày đi: </label>
                            <input class="form-control" {% if session['inp_search'] %} value="{{ session['inp_search'].time_start }}" {% endif %} name="dayStart" id="time_start" type="date">
                        </div>

                        <div class="input-row">
                            <label for="ticket_type" class="form-label"> Vé: </label>
                            <select name="SeatClass" id="ticket_type" class="form-control mr-sm-2 selectpicker">
                                <option {% if session['inp_search'] and session["inp_search"].ticket_type=="1" %}selected="selected"{% endif %} value="1">Hạng 1</option>
                                <option {% if session['inp_search'] and session['inp_search'].ticket_type=="2" %}selected="selected"{% endif %} value="1">Hạng 2</option>
                            </select>
                        </div>

                        <div class="input-row">
                            <button id="submit-btn" type="submit" class="btn btn-danger mx-auto">Tìm chuyến bay</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


{% block js %}
<script defer src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>

<script>
    window.onload = function() {
        let dates = document.getElementsByClassName("date");
        for (let d of dates)
            d.innerText = moment(d.innerText).locale("vi").fromNow()
    }
</script>

{% endblock %}
